<header>
    <img class="head" 
    src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/677b7403-76bf-4871-b1eb-996331c62c03/d4ndxuz-eb645527-92db-49b1-b62a-35d85f2a9647.png/v1/fill/w_800,h_301/logo___dragon_ball_merchandising_original_by_vicdbz_d4ndxuz-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MzAxIiwicGF0aCI6IlwvZlwvNjc3Yjc0MDMtNzZiZi00ODcxLWIxZWItOTk2MzMxYzYyYzAzXC9kNG5keHV6LWViNjQ1NTI3LTkyZGItNDliMS1iNjJhLTM1ZDg1ZjJhOTY0Ny5wbmciLCJ3aWR0aCI6Ijw9ODAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.r8_0glDJYLu1B4jhLkY8TJzeABSizpyDYZB7DTJj8mE"
     alt="dragon-ball-image">
    
</header>
