header {
    color: rgb(97, 97, 97);
    border-radius: 7px;
    box-shadow: none;
    position: fixed;
    padding-left: 24px;
    padding-right: 24px;
    top: 0px;
    height: 60px;
    width: 96.5%;
    z-index: 5;
    background-color: white;

}

.head {
    height: 100%;
}