<br><br><br><br>
<span class="texto">Destruido:</span>
<form [formGroup]="filtro">
    <select formControlName="isDestroyed" placeholder="Destruido"><br>
        <option value="">Todos</option>
        <option value="true">Si</option>
        <option value="false">No</option>
    </select>

</form>
<br>
<button (click)="filtrar()">Filtro de Planetas</button>
<div>
    <div>
        <img src="https://web.dragonball-api.com/images-compress/logo_dragonballapi.webp" alt=""
             class="api-img">
        <h1>The Dragon Ball API</h1>
    </div>

    <div class="card">
        <article *ngFor="let planet of planets">
            <div (click)="mostrarPlaneta(planet.id)" style="color: white;">

                <div class="card-bottom">

                    <a [routerLink]="['/planets', planet.id]">
                    <div class="card-bg-p">
                        <img class="card-image" [src]="planet.image" alt="">  
                    </div>
                    </a>

                    <h2>{{planet.name}}</h2>

                    <div class="texto">
                        ¿Esta destruido?
                    </div>

                    <span>
                        "{{planet.isDestroyed ? 'Si esta destruido' : 'No Destruido'}}"
                    </span>
                </div>
                
            </div>
        </article>
    </div>
</div>