

  .card{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .card-bg {
    background-image:url(https://web.dragonball-api.com/images-compress/89980.webp);
    border-radius: 1rem;
    background-size: cover;
    width: auto;
    height: 400px;
  }

    .card-bottom {
        /* margin-top: -1.5rem; */
         /* border: 2px solid #F0F0F0; */
        width: 17rem;
        /* box-shadow: 0.5rem 0.5rem 0.5rem 0 rgba(242,242,242,1); */
        border-radius: 1rem;
        height: 100%;
      position: relative;
    background-color: #404544;
    text-align: center;  
    }

    .card-image{
      
      border-radius: 1rem;
      background-size: cover; 
      height: 100%;
      max-width: 400px;
      max-height: 400px;
      top: -20px;
      transition: .4s;
   
    }


    .card-image:hover{
      transform: scale(1.2);
    }