<br><br><br><br>
<form [formGroup]="filtro">
  <select formControlName="affiliation" placeholder="Afiliación"><br>
    <option value="All">--</option>
    <option value="Z Fighter">Z Fighter</option>
    <option value="Red Ribbon Army">Red Ribbon Army</option>
    <option value="Namekian Warrior">Namekian Warrior</option>
    <option value="Freelancer">Freelancer</option>
    <option value="Army of Frieza">Army of Frieza</option>
    <option value="Pride Troopers">Pride Troopers</option>
    <option value="Assistant of Vermoud">Assistant of Vermoud</option>
    <option value="Assistant of Beerus">Assistant of Beerus</option>
    <option value="Villain">Villain</option>
    <option value="Other">Other</option>
  </select>
  <br>
  <!-- <input type="text" formControlName="gender" placeholder="Genero"><br>
  <input type="text" formControlName="race" placeholder="Raza"><br> -->
  <input type="number" formControlName="limit" placeholder="Limite"><br>

</form>
<br>
<button (click)="filtrar()">Filtro de Personajes</button>
<br>

<div>

  <div>
    <img src="https://web.dragonball-api.com/images-compress/logo_dragonballapi.webp" alt="" class="api-img">
    <h1>The Dragon Ball API</h1>
  </div>
  <div class="pages">
    <a class="pages" [routerLink]="['/characters']">Personajes</a>
    /
    <a class="pages" [routerLink]="['/planets']">Planetas</a>
    <br><br><br><br>
  </div>
  <div class="card">
    <article *ngFor="let character of characters">
      <div (click)="mostrarPersonaje(character.id)" style="color: white;">

        <div class="card-bottom">
          <div class="card-bg">
            <!-- <a [routerLink]="['/transformations', character.id]"> -->
              <img class="card-image" [src]="character.image" alt="">
            <!-- </a> -->
          </div>

          <a [routerLink]="['/characters', character.id]">
            <h2>{{character.name}}</h2>
          </a>

          <span>{{character.race}} - {{character.gender}}</span>

          <div class="texto">
            Ki:
          </div>

          <span>
            {{character.ki}}
          </span>

          <div class="texto">
            Ki Maximo:
          </div>

          <span>
            {{character.maxKi}}
          </span>

          <div class="texto">
            Afiliacion:
          </div>

          <span>
            {{character.affiliation}}
          </span>

        </div>
      </div>
    </article>
  </div>
</div>