/* You can add global styles to this file, and also import other style files */

.root {
  background-color: black;
}

body {
  background-color: #1c2222;
}

h1 {
  color: #ebc800;
  font-weight: 900;
  text-align: center;
}

span {
  color: #ebc800;
  font-weight: bolder;
  font-size: large;
  font-family: tahoma;
}

h2 {
  font-weight: bolder;
  color: white;
  font-family: tahoma;
}

select:hover {
  box-shadow: 0 0 4px rgb(229, 220, 127);
  transform: scale(1.2);
}

select {
  border-radius: 1rem;
  transition: .4s;
  background-image: url(https://web.dragonball-api.com/images-compress/89980.webp);
  background-size: cover;
  cursor: pointer;
  transition: .4s;
  width: 100px;
}

button {
  border-radius: 1rem;
  transition: .4s;
}

button:hover{
  box-shadow: 0 0 4px rgb(229, 220, 127);
  transform: scale(1.2);
}

input {
  border-radius: 1rem;
}

.api-img{
 display: block;
  margin: auto;
 width: 60%;
}

.card {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  justify-content: center;
}

.card-bottom {
  width: 20rem;
  border-radius: 1rem;
  height: 100%;
  background-color: #404544;
  text-align: center;
}


.card-image {
  border-radius: 1rem;
  background-size: cover;
  height: 100%;
  max-width: 400px;
  max-height: 400px;
  top: -20px;
  transition: .4s;
  cursor: pointer;
}

.card-image:hover {
  transform: scale(1.2);
}

.texto {
  color: white;
}

.card-bg-p {
  background-image: url(https://web.dragonball-api.com/images-compress/89980.webp);
  border-radius: 1rem;
  background-size: cover;
  width: auto;
  height: 153px;

}

.card-bg {
  background-image:url(https://i.pinimg.com/originals/44/bc/31/44bc313d55b5403c68b32bc7eda09667.jpg);
  border-radius: 1rem;
  background-size:cover;
  width: auto;
  height: 400px;
}

.title-bg{
  background-image: url(https://web.dragonball-api.com/images-compress/89980.webp);
  border-radius: 1rem;
  background-size:cover;
  width: auto;
  height: 30px;
  color: #34567e;
  font-family: tahoma;
  font-weight:900;
  text-align: center;
}

.all{
  display: flex;
  flex-wrap: wrap;
  gap: 4.5rem;
}

.image{
    background-size: cover;
    height: 100%;
    max-width: 350px;
    max-height: 600px;
    top: -20px;
    justify-content: center;
}

.image-bg{
    background-image:url(https://i.pinimg.com/originals/44/bc/31/44bc313d55b5403c68b32bc7eda09667.jpg);
    border-radius: 1rem;
    background-size:cover;
    width: auto;
    height: 600px;
}